* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url("/imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

header .logo {
    cursor: pointer;
}

header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;    
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: black;
}

.header .btn button {
    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background-color: aliceblue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: black;
    color: cornflowerblue;
    transform: scale(1.1);
}

.container {
    padding: 30px;
    background-color: white;
    border-color: black;
    border: 50px;
    border-radius: 20px;
}