<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <main>
        <div class="form-container"> 
            <h1>Iniciar Sesión</h1>

            <p>Ingresar datos para realizar su reserva de vuelo</p>

            <form id="formulario-login">

                <label class="sr-only" for="email">E-mail</label>
                <input type="text" name="email" id="email" placeholder="E-mail">

                <label class="sr-only" for="contrasenia">Contraseña</label>
                <input type="password" name="contrasenia" id="contrasenia" placeholder="Contraseña">

                <button type="submit">Iniciar Sesión</button>

                <p class="error escondido">Error al iniciar Sesión</p>

            </form>
            <a href="registrarse.html">Registrarse</a>
            
        </div>
    </main>
    <script src="iniciarSesion.js" defer></script>
</body>
</html>
