<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="metodoPago.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

    <header class="header">

        <div class="logo">
            <img src="logo.png" alt="logo Empresa">
        </div>

        <nav class="nav-links">
            <ul>
                <li><a href="#"><h1>Metodo de Pago</h1></a></li>                
            </ul>
        </nav>

        <a href="#" class="btn"><button id="logout-button" type="button">Cerrar Sesión</button></a>

    </header>

    <div class="container container-md">
        <h2>Detalles del Vuelo Seleccionado</h2>
        <table class="table table-success table-striped-columns" id="vuelo-seleccionado-table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha de Salida</th>
                    <th>Fecha de Regreso</th>
                    <th>Precio</th>
                    <th>Tipo de Vuelo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

        <h3>Seleccione el Método de Pago</h3>
        <select class="form-select form-select-lg mb-3" aria-label="Large select example" id="metodo-pago">
            <option value="tarjeta de credito/debito">Tarjeta de Crédito/Débito</option>
            <option value="paypal">PayPal</option>
            <option value="transferencia bancaria">Transferencia Bancaria</option>
        </select>

        <div class="form-container" id="formulario-pago">
            <!-- Formulario de Tarjeta de Crédito/Débito -->
            <form id="formulario-tarjeta" class="formulario-datos">

                <h4>Datos de Tarjeta de Crédito/Débito</h4>

                <label class="sr-only" for="numero-tarjeta">Número de Tarjeta:</label>
                <input class="form-control" type="text" id="numero-tarjeta" name="numero-tarjeta" placeholder="Número de Tarjeta">

                <label class="sr-only" for="nombre-tarjeta">Nombre en la Tarjeta:</label>
                <input class="form-control" type="text" id="nombre-tarjeta" name="nombre-tarjeta" placeholder="Nombre en la Tarjeta">

                <label class="sr-only" for="fecha-expiracion">Fecha de Expiración:</label>
                <input class="form-control" type="date" id="fecha-expiracion" name="fecha-expiracion">

                <label class="sr-only" for="cvv">CVV:</label>
                <input class="form-control" type="text" id="cvv" name="cvv" placeholder="CVV">

            </form>

            <!-- Formulario de PayPal -->
            <form id="formulario-paypal" class="formulario-datos" style="display: none;">

                <h4>Datos de PayPal</h4>

                <label class="sr-only" for="email-paypal">Email de PayPal:</label>
                <input class="form-control" type="email" id="email-paypal" name="email-paypal" placeholder="Email de PayPal">

            </form>

            <!-- Formulario de Transferencia Bancaria -->
            <form id="formulario-transferencia" class="formulario-datos" style="display: none;">

                <h4>Datos de Transferencia Bancaria</h4>

                <label class="sr-only" for="nombre-banco">Nombre de Banco:</label>
                <select id="nombre-banco" required name="nombre-banco" class="form-select form-select-lg mb-3">
                    <option label="Seleccione su banco" value="">Seleccione su banco</option>
                    <option label="BANCAMIA S.A." value="bancamia">BANCAMIA S.A.</option>
                    <option label="BANCO AGRARIO" value="agrario">BANCO AGRARIO</option>
                    <option label="BANCO AV VILLAS" value="avvillas">BANCO AV VILLAS</option>
                    <option label="BANCO BBVA COLOMBIA S.A." value="bbva">BANCO BBVA COLOMBIA S.A.</option>
                    <option label="BANCO CAJA SOCIAL" value="caja-social">BANCO CAJA SOCIAL</option>
                    <option label="BANCO COOPERATIVO COOPCENTRAL" value="coopertaivo-coopcentral">BANCO COOPERATIVO COOPCENTRAL</option>
                    <option label="BANCO CREDIFINANCIERA" value="credifinanciera">BANCO CREDIFINANCIERA</option>
                    <option label="BANCO DAVIVIENDA" value="davivienda">BANCO DAVIVIENDA</option>
                    <option label="BANCO DE BOGOTA" value="bogota">BANCO DE BOGOTA</option>
                    <option label="BANCO DE OCCIDENTE" value="occidente">BANCO DE OCCIDENTE</option>
                    <option label="BANCO FALABELLA " value="falabella">BANCO FALABELLA </option>
                    <option label="BANCO FINANDINA S.A. BIC" value="finandina">BANCO FINANDINA S.A. BIC</option>
                    <option label="BANCO GNB SUDAMERIS" value="sudameris">BANCO GNB SUDAMERIS</option>
                    <option label="BANCO ITAU" value="itau">BANCO ITAU</option>
                    <option label="BANCO PICHINCHA S.A." value="pichincha">BANCO PICHINCHA S.A.</option>
                    <option label="BANCO POPULAR" value="popular">BANCO POPULAR</option>
                    <option label="BANCO SANTANDER COLOMBIA" value="santander">BANCO SANTANDER COLOMBIA</option>
                    <option label="BANCO SERFINANZA" value="serfinanza">BANCO SERFINANZA</option>
                    <option label="BANCO UNION antes GIROS" value="union">BANCO UNION antes GIROS</option>
                    <option label="BANCOLOMBIA" value="bancolombia">BANCOLOMBIA</option>
                    <option label="BANCOOMEVA S.A." value="bancomeva">BANCOOMEVA S.A.</option>
                    <option label="CFA COOPERATIVA FINANCIERA" value="cfa">CFA COOPERATIVA FINANCIERA</option>
                    <option label="CITIBANK " value="citibank">CITIBANK</option>
                    <option label="COLTEFINANCIERA" value="coltefinanciera">COLTEFINANCIERA</option>
                    <option label="CONFIAR COOPERATIVA FINANCIERA" value="confiar">CONFIAR COOPERATIVA FINANCIERA</option>
                    <option label="COOFINEP COOPERATIVA FINANCIERA" value="coofinep">COOFINEP COOPERATIVA FINANCIERA</option>
                    <option label="COTRAFA" value="cotrafa">COTRAFA</option>
                    <option label="DALE" value="dale">DALE</option>
                    <option label="DAVIPLATA" value="1551">DAVIPLATA</option>
                    <option label="IRIS" value="iris">IRIS</option>
                    <option label="LULO BANK" value="lulo">LULO BANK</option>
                    <option label="MOVII S.A." value="movii">MOVII S.A.</option>
                    <option label="NEQUI" value="nequi">NEQUI</option>
                    <option label="RAPPIPAY" value="rappipay">RAPPIPAY</option>
                    <option label="RAPPIPAY DAVIPLATA" value="rappipay">RAPPIPAY DAVIPLATA</option>
                    <option label="SCOTIABANK COLPATRIA" value="scotiabank-colpatria">SCOTIABANK COLPATRIA</option>
                </select>

                <label class="sr-only" for="numero-cuenta">Número de Cuenta:</label>
                <input class="form-control" type="text" id="numero-cuenta" name="numero-cuenta" placeholder="Número de Cuenta">

                <label class="sr-only" for="nombre-titular">Nombre del Titular:</label>
                <input class="form-control" type="text" id="nombre-titular" name="nombre-titular" placeholder="Nombre del Titular">

                <label class="sr-only" for="tipo-cuenta">Tipo de Cuenta:</label>
                <input class="form-control" type="text" id="tipo-cuenta" name="tipo-cuenta" placeholder="Tipo de Cuenta">

            </form>
        </div>

        <button id="continuar-pago" class="btn btn-primary">Continuar al Pago</button>
    </div>

    <script src="metodoPago.js"></script>
    <script src="cerrarSesion.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>