<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuelos</title>
</head>
<body>
    
    <div class="container">
        <h1>Ver Vuelos</h1>
        <table id="vuelos-table" border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha de Salida</th>
                    <th>Fecha de Regreso</th>
                    <th>Precio</th>
                    <th>Tipo de Vuelo</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <script src="verVuelos.js" defer></script>

</body>
</html>